.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.qrWrapper svg path:last-child {
  fill: rgb(0, 0, 0);
}

.qrWrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input {
  margin-top: 30px;
  border-radius: 12px;
  border: 0.5px solid rgb(154, 25, 124);
  color: rgb(15, 15, 15);
  background: rgb(253, 239, 255);
  width: 400px;
  height: 50px;
  padding: 8px 16px;
  font-size: 32px;
}

.button {
  border: none;
  background: rgb(154, 25, 124);
  color: white;
  font-size: 20px;
  border-radius: 12px;
  padding: 8px 16px;
}
